.conteiner_inscricao {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#333333;
    margin:4px;
    padding:3px;
    background-color: #fbfbfb;
    background-image: url(imagens/produto.png);
    background-position: 0px -200px;
    background-repeat: repeat-x;
    border: 1px solid #ccc;

}

.titulo_campo{
    font-family: verdana,arial;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    text-align: left;
}
.campo{
    font-family: verdana,arial;
    font-size: 12px;
    margin: 2px;
    border: 1px solid #f9f9f9;
}
.campos_view{
    font-family: verdana,arial;
    font-size: 12px;
    font-weight: bold;
    color: blue;
}
.conteiner_campo{

    width: 400px;
}
.msg{
    margin: 5px;
}
.display_msg{
    font-family: verdana,arial;
    border: 1px solid #cd0a0a;
    background: #b81900 url(imagens/alert.png) 50% 50% repeat;
    color: #ffffff;
    font-size: 11px;
    margin:4px;
    padding:3px;
    max-width: 800px;
}
.conteiner_produto{
    font-family: verdana,arial;
    border-bottom: 1px dotted #8f8f8f;
    font-size: 12px;
    background-color: #fcfcfc;
    width: 100%;
}

.conteiner_bot{
    text-align: center;
    background: #f6f6f6 url(imagens/body.jpg) 50% 50% repeat;
    color: #ffffff;
    font-size: 12px;
    font-weight: bolder;
    vertical-align: middle;
    padding-top: 5px;
}
.bot {
    border: 1px solid #cccccc;
    background: #f6f6f6 url(imagens/botao.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #1c94c4;
    outline: none;
}

.conteiner_sucesso{
    font-family: verdana, arial;
    font-size: 12px;
    color: blue;
    padding: 10px;
    margin: 1px;
    background-color:silver;
}

a {text-decoration: none; color: #999; font-weight: bolder;}
a:hover {text-decoration: none; color: #ccc; font-weight: bolder;}

.lista .odd{background-color: #ffffff; height: 20px;}
.lista .even {background-color: #f0f0f0; height: 20px;}

.titulo_info {font-size: 12px; font-weight: bolder;}

#TituloCurso       {font-size: 16px; vertical-align: middle; text-align: center; font-weight: bolder; }
#TipoDeCurso       {width: 180px; height: 25px; vertical-align: middle; text-align: left; color: #020066; font-size: 12px; text-indent: 28px; background: url(imagens/tipodecurso.png) no-repeat;}
#Area              {width: 180px; height: 25px; vertical-align: middle; text-align: left; color: #020066; font-size: 12px; text-indent: 28px; background: url(imagens/area.png) no-repeat;}
#CargaHorariaTotal {width: 180px; height: 25px; vertical-align: middle; text-align: left; color: #020066; font-size: 12px; text-indent: 28px; background: url(imagens/cargahorariatotal.png) no-repeat;}
#ObjetivoDoCurso   {height: 25px; vertical-align: middle; text-align: left; color: #020066; font-size: 12px; text-indent: 28px; background: url(imagens/objetivodocurso.png) no-repeat;}
#PublicoAlvo       {height: 25px; vertical-align: middle; text-align: left; color: #020066; font-size: 12px; text-indent: 28px; background: url(imagens/publicoalvo.png) no-repeat;}
#Disciplinas       {height: 25px; vertical-align: middle; text-align: left; color: #020066; font-size: 12px; text-indent: 28px; background: url(imagens/disciplinas.png) no-repeat;}
#Turmas            {height: 25px; vertical-align: middle; text-align: left; color: #020066; font-size: 12px; text-indent: 28px; background: url(imagens/turmas.png) no-repeat;}